body{
background-image:url("images/back4.gif");
	background-repeat:no-repeat;
	background-size:cover;
}

/*
*LOGO SEARCH BAR
*/

.facebook {
margin-left:47%;
margin-top:27%;
}
.box{
position: absolute;
top:1%;
left:75%;
width:500px;
transform: translate(-50,-50%);
}
input
{
position:relative;
display:inline-block;
font-size:20px;
box-sizing:border-box;
transition:.5s;
}

input[type="text"]
{
border-radius:25px 0 0 25px;
}

input[type="submit"]
{
border-radius:0 25px 25px 0;
font-family:san-serif;
}


/*MENU BAR**/
.menubar ul{
display:inline-flex;
list-style: none;
}
.menubar li{
margin:8px;
padding:15px;
width:80px;
}
.menubar ul li a{
text-decoration:none;
color:black

}

.active, .menubar ul li:hover
{
background:skyblue;
border-radius:1px;
}
.sub-menu-1{
display:none;

}
.menubar ul li:hover .sub-menu-1
{
display:block;
position: absolute;
background:skyblue;
}
.menubar ul li :hover .sub-menu-1 ul
{
display:block;
padding:5px;
width:10px;

}



